# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
larna-debug.log*

# Build/output directories
dist/
dist-ssr/

# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Editor/OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?